#The runtime should has token setting by 
#npm config set -- //nexus.mshome.net:8081/repository/npm-releases/:_auth base64(YOUR_NAME:PASSWORD)
@onexas:registry=http://nexus.mshome.net:8081/repository/npm-releases/
